/* PrivacyPolicy.css */

.privacy-container {
    background-color: #F8F8F9;
    color: #111439;
    padding: 20px;
    border-radius: 10px;
  }
  
  .privacy-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .privacy-container h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .privacy-container p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .privacy-container strong {
    font-weight: bold;
  }
  