/* Navbar.css */

.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Align elements to the right */
    align-items: center;
    margin: 0; /* Remove default margin */
  }
  
  .nav-links li {
    margin-left: 20px; /* Adjust spacing between nav items */
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-links a:hover {
    color: #ccc;
  }
  