
  /* Navbar styles */
  .navbar {
    background-color: #3f3f3f; /* Dark blue */
    color: #fff; /* White */
    padding: 10px 20px;
  }
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Align elements to the right */
    align-items: center;
    margin: 0; /* Remove default margin */
  }
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar a {
    color: #fff; /* White */
    text-decoration: none;
  }
  .nav-links a:hover {
    color: #ccc;
  }