/* TermsOfService.css */

.terms-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2 {
    color: #111439; /* Dark blue */
  }
  
  p {
    color: #F8F8F9; /* White lilac */
    line-height: 1.6;
  }
  